* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/* Added styling to header section */
header {
  display: flex;
  width: 100%;
  background-color:  #031722d2;
  padding: 10px 0 10px;
 }
  /* Added styling to h2 in header*/
.navbar {
  display:flex;
  width: 20%;
  background-color:#4bafb4;
  font-size: 30px;
  align-items: center;
  justify-content: flex-end;
 }
  /* Added styling to the lists */
.navigation {
  display: flex;
  width: 75%;
  justify-content: flex-end;
   }

.navigation ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  font-size: 20px;
  }

.navigation a  {
  padding-left: 20px;
  color: #4bafb4;
  cursor: pointer; 
}