* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/* Added styling to header section */
header {
  display: flex;
  width: 100%;
  background-color:  #031722d2;
  padding: 10px 0 10px;
}
  /* Added styling to h2 in header*/
.navbar {
  display:flex;
  width: 20%;
  background-color:#4bafb4;
  font-size: 30px;
  align-items: center;
  justify-content: flex-end;
}
  /* Added styling to the lists */
.navigation {
  display: flex;
  width: 75%;
  justify-content: flex-end;
   }

.navigation ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.navigation a  {
  padding-left: 20px;
  color: #4bafb4;
  cursor: pointer; 

  /* Added styling to the hero section */  
}
.hero-banner{
  display: flex; 
  width: 100%;
  background-image: url(../images/02-hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 15px; 
} 
 

.sub-title {
  display: flex;
  font-size: 30px;
  width: 75%;
  color: blueviolet;
  align-items:flex-end;
  justify-content:flex-end;
  /* position: absolute;
  right: 100px;
  top: 300px; 
  z-index: 100;  */

}

.my-image {
  display: flex;
  width: 20%;
  height: 300px;
}
/* Added CSS to About Me section */
  
#about{
  display: flex;
  width: 100%;
  margin-bottom: 15px;  
}

#about h2 {
  display: flex;
  width: 20%;
  font-size: 30px;
  align-items: center;
  justify-content: flex-end;
  border-right: 5px solid hwb(240 0% 88% / 0.607);
}

#about p {
  display: flex;
  width: 75%;
  font-size: 20px;
  margin-left: 2%;
}

 /* Added styling to work section */
 

#work{
  display: grid;
  grid-gap:10px;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-columns: 20% auto auto auto auto ;
  /* grid-template-columns: 20% 19% 19% 18.5% 18.5%; */
  grid-template-areas: 
   
  "my-work surf-report surf-report surf-report surf-report"
  "my-work surf-report surf-report surf-report surf-report" 
  "my-work led-wall led-wall calculator calculator"
  "my-work pastel-puzzles pastel-puzzles run-buddy run-buddy";
   margin-bottom: 50px;
   margin-top: 50px;
   
   
}
.my-work{
  display: grid;
  grid-area: my-work;
  font-size: 30px;
  justify-content: flex-end;
  border-right: 5px solid hwb(240 0% 88% / 0.607);  

}   
    /* Added margins */
#surf-report{
  grid-area:surf-report;
  /* background-image: url("../assets/images/02-portfolio-4.jpg"); */
  background-image: url("../images/02-portfolio-4.jpg");
  /* margin-left: 3%; */
}


#led-wall{
  grid-area:led-wall;
  /* background-image: url("../assets/images/02-portfolio-2.jpg"); */
  background-image: url("../images/02-portfolio-2.jpg");
  /* margin-left: 6%; */
}

#calculator{
  grid-area:calculator;
  /* background-image: url("../assets/images/02-portfolio-4.jpg"); */
  background-image: url("../images/02-portfolio-4.jpg");

}

#pastel-puzzles{
  grid-area:pastel-puzzles;
  /* background-image:url("../assets/images/02-portfolio-3.jpg"); */
  background-image:url("../images/02-portfolio-3.jpg");
  /* margin-left: 6%; */
}

#run-buddy{
  grid-area:run-buddy;
  /* background-image: url("../assets/images/02-run-buddy.jpg"); */
  background-image: url("../images/02-run-buddy.jpg");
}

.portfolioGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  border-bottom: 5px solid #6600ff;
} 


/* .heading {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px solid #4bafb4;
  cursor: pointer;
  

}
.portfolioGridArea{
  position: relative;
  top: -60px;
} */

/* set properties for topic class */
.topic  {
  width:fit-content;
  position: relative;
  /* top: 80%;  */
  top: 50%;
  background-color:#4bafb4;
}
  
.topic #surf-report{
  top: 80%;

}  


/* Transforming the work section */

#surf-report:hover{ 
  transform:scale(1.03);
}



  /* Footer Styles*/

footer{
  display: grid;
  grid-template-rows: auto;
  /* grid-template-columns: 20% 15% 15% 15% 15% 15% ; */
  grid-template-columns: 20% auto auto auto auto auto ;
  grid-gap:10px;
  grid-template-areas: 
  "contact-me nb ema gh lk fb";
  margin-bottom: 50px;
}
  
.contact-me{
  display: grid;
  grid-area: contact-me;
  font-size: 30px;
  justify-content: flex-end;
  border-right: 5px solid hwb(240 0% 88% / 0.607);  
}
  
#nb{
  grid-area: nb;
}

#ema{
  grid-area: ema;
}

#gh{
  grid-area: gh;
}

#lk{
  grid-area: lk;
}

#fb{
  grid-area: fb;
}

.contact-me1{
  display:grid;
  width: 85%;
  cursor: pointer;
  justify-content: flex-end;
  /* align-items: center; */
  font-size: 20px;

}
/* Adjustment for media queries 688px*/

@media only screen and (max-width: 688px) {
  footer{
    display: grid;
  /* grid-template-columns: auto;
  grid-template-rows: 100px;
  grid-gap: 10px;
  background-color: red; */


    grid-template-rows: 20% 18% 18% 18% 18% 18%;
    grid-template-columns: auto;
    row-gap: 5px;
    grid-template-areas: 
    "contact-me nb ema gh lk fb";
    margin-bottom: 50px; 
  }
}

@media only screen and (max-width: 770px) {

  #work{
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-rows: 150px 150px 150px 150px 150px 150px;
    grid-template-columns: 20% 20% 20% 20% 20%  ;
    grid-template-areas: 
     
    "my-work my-work my-work my-work my-work"
    "surf-report surf-report surf-report surf-report surf-report"
    "led-wall led-wall led-wall led-wall led-wall"
    "calculator calculator calculator calculator calculator"
    "pastel-puzzles pastel-puzzles pastel-puzzles pastel-puzzles pastel-puzzles "
    "run-buddy run-buddy run-buddy run-buddy run-buddy";
     /* margin-bottom: 50px;
     margin-top: 50px; */
  }
/* Adjusting for mobile viewing */
  .my-work{
    display: grid;
    grid-area: my-work;
    font-size: 30px;
    justify-content: flex-start;
    border-bottom: #6600ff solid;
    border-right: none;
    
}
}